<!-- /*
============================================
; Title: Assignment 4.4 – Async Pipe
; Author: Dan Ross
; Date: 23 Jan 2021
; Modified By: Dan Ross
; Description: This is the 'about' HTML display page.
;===========================================
*/ -->
<!-- Start the composer container -->
<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">George Frideric Handel</h3>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <!-- This is the left column.  -->
    <div class="col-sm-3">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/George_Frideric_Handel_by_Balthasar_Denner.jpg/198px-George_Frideric_Handel_by_Balthasar_Denner.jpg"
      />
    </div>
    <!-- This is the right column.  -->
    <div class="col-sm-9">
      <p>
        George Frideric Handel (February 32, 1685 – April 14th 1759) was a
        Baroque composer who became well known for his operas, oratorios, and
        anthems. Handle was trained in Halle and worked in Hamburg and Italy as
        a composer before finally settling in London in 1712. He spent the bulk
        of his career there and eventually became a naturalized citizen of
        Britain in 1727. He was greatly influenced both by the middle-German
        polyphonic choral tradition and by other composers of the Italian
        Baroque.
        <em class="apa-reference"
          ><a
            href="https://en.wikipedia.org/wiki/George_Frideric_Handel"
            target="_blank"
            >Source</a
          ></em>
      </p>
    </div>
  </div>
</div>
<!-- End the composer container -->
