<!-- /*
============================================
; Title: Assignment 4.4 – Async Pipe
; Author: Dan Ross
; Date: 23 Jan 2021
; Modified By: Dan Ross
; Description: This is the 'contact' HTML display page.
;===========================================
*/ -->
<!-- Start contact container here. -->
<div class="contact-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Welcome to the Contact Us page</h3>
    </div>
  </div>

  <br /><br />
  <div class="row text-center">
    <!-- Start right column for address here.  -->
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-map-fill"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">1234 Somewhere St</li>
            <li class="list-group-item border-0">Ames, Iowa 50010</li>
          </ul>
        </div>
      </div>
    </div>
   <!-- End right column for address here.  -->

    <!-- Start left column for phone numbers here.  -->
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h1><i class="bi bi-telephone-fill"></i></h1>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">Direct: 666-666-6666</li>
            <li class="list-group-item border-0">Toll-free: 1-888-888-8888</li>
            <li class="list-group-item border-0">Fax: 444-444-4444</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End left column for phone numbers here.  -->

  </div>
</div>
