<!-- /*
============================================
; Title: Assignment 4.4 – Async Pipe
; Author: Dan Ross
; Date: 23 Jan 2021
; Modified By: Dan Ross
; Description: This is the composer-details HTML display page.
;===========================================
*/ -->

<div class="row">

  <div class="col-sm-12">
    <!-- This will display the composer details based on the ID passed in the route.  -->
    <ul class="list-group">
      <li class="list-group-item">Composer ID: {{ composer.composerId }}</li>
      <li class="list-group-item">Full Name: {{ composer.fullName }}</li>
      <li class="list-group-item">Genre: {{ composer.genre }}</li>
    </ul>
    <br>
    <!-- This will navigate back to the composer list master page. -->
    <a routerLink="/composer-list" class= "float-right">Return to Composers</a>
  </div>
</div>
